* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./img/background.png");
  color: #fff;
}

.logo {
  max-width: 800px;
  width: 70vw;
  display: block;
  margin: auto;
  padding-top: 30px;
}

#container {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: #fff;
  width: 60vw;
  height: 60vh;
  min-height: 300px;
}
.room-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.room-label {
  font-size: 32px;
  font-weight: 800;
}

#room-select {
  padding: 0.5em;
  outline: none;
  font-size: 16px;
}

#submit-btn {
  padding: 0.6em;
  outline: none;
  border: 1px solid rgba(11, 27, 179, 0.603);
  border-radius: 0.3em;
  font-size: 16px;
  cursor: pointer;
}

.resize {
  width: 200px;
  min-width: 100px;
  max-height: 300px;
  height: 200px;
}

li {
  list-style-type: none;
  margin: 20px;
}

.poke-btn {
  border: none;
  cursor: pointer;
  padding: 0.5em;
  /* tblr */
  margin: 10px 30px 30px 30px;
  border-radius: 10px;
  outline: none;
  color: teal;
  border: 1px solid teal;
  background-color: #fff;
}

.game {
  display: flex;
  margin: auto;
}

@media screen and (max-width: 750px) {
  #container {
    width: 80vw;
  }
  .resize {
    width: 30vw;
  }
}

@media screen and (max-width: 400px) {
  #container {
    flex-direction: column;
    min-height: 600px;
    justify-content: space-evenly;
  }
}
