*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./img/background.png");
  color: #fff;
}

.logo {
  max-width: 800px;
  width: 70vw;
  display: block;
  margin: auto;
  padding-top: 30px;
}

#container {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: #fff;
  width: 60vw;
  height: 60vh;
  min-height: 300px;
  flex: 1 5 5;
  flex-wrap: wrap;
}
.room-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.room-label {
  font-size: 32px;
  font-weight: 800;
}

#room-select {
  padding: 0.5em;
  outline: none;
  font-size: 16px;
}

#submit-btn {
  padding: 0.6em;
  outline: none;
  border: 1px solid rgba(11, 27, 179, 0.603);
  border-radius: 0.3em;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid teal;
  background-color: #fff;
  color: teal;
}

#rules {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #fff;
  width: 60vw;
  height: 60vh;
  margin: auto;
  background-color: #fff;
  color: black;
  margin-bottom: 80px;
}

#rules ul {
  font-weight: bold;
  font-size: 18px;
}

#rules ul li::before {
  /* \2022 is the css code for a bullet
  psuedoselectors utilize content property
  thats the content before the element specified in selector
  , could do after as well. But I will use poke ball instead
  */
  content: url("./img/Poke_Ball.png");
  /* display inline-block so we can add padding/margin to content (poke ball) and stay on one line */
  display: inline-block;
  /* so content(poke ball) can align with text */
  transform: translateY(20px);
}

.chat-container {
  display: flex;
  margin: 30px;
}

#chat-board,
#player-chat {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  border: 1px solid;
  width: 60vw;
  height: 30vh;
  margin: 50px auto;
  background-color: #ffcb05;
  border: 2px solid black;
  overflow-y: scroll;
}

#player-chat {
  margin-left: 20px;
}

#message-form {
  display: flex;
  /* margin treated differently in flex box since margins dont collapse
  meaning when we say margin-top: auto...element will get sent straight to
  the bottom of its container */
  margin-top: auto;
}

#player-text {
  width: 80%;
  border: none;
  outline: none;
  height: 32px;
}

#message-submit {
  width: 20%;
  padding: 0.6em;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
}

.chat-msg {
  background-color: #2a75bb;
  color: white !important;
  font-weight: 800;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  min-height: 40px;
}

#shuffle-btn {
  align-self: flex-end;
  font-size: 16px;
}

.resize {
  width: 200px;
  min-width: 100px;
  max-height: 300px;
  height: 200px;
}

li {
  list-style-type: none;
  margin: 20px 50px;
}

.poke-btn,
#shuffle-btn,
#clear-btn,
#clear-msg-btn {
  border: none;
  cursor: pointer;
  padding: 0.5em;
  /* tblr */
  margin: 10px 30px 30px 30px;
  border-radius: 10px;
  outline: none;
  color: teal;
  border: 1px solid teal;
  background-color: #fff;
}

#clear-btn,
#clear-msg-btn {
  font-size: 16px;
  display: flex;
  margin: 10px auto;
}

.clear-container {
  display: flex;
}

.game {
  display: flex;
  margin: auto;
}

@media screen and (max-width: 750px) {
  #container {
    width: 80vw;
  }
  .resize {
    width: 30vw;
  }

  .chat-container {
    flex-wrap: wrap;
  }

  #player-chat {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  #rules {
    /* not extended all the way because room container above */
    height: 100vh;
  }
}

@media screen and (max-width: 400px) {
  #container {
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 700px;
    justify-content: center;
  }
  li {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1215px) {
  #container {
    flex: 1 10 10;
    min-height: 700px;
  }
}
